{% extends 'layouts/main.html' %}
{% block title %}Actors | Delete{% endblock %}
{% block content %}
<a href="/actors" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>&nbsp;back to Actor</a>
<div class="row box-out">
  <div class="container-fluid justify-content-start">
    <h3 class="form-heading">Are you sure you want to delete this actor ?</h3>
    <hr>
    <form method="POST" class="form col-md-8 col-lg-6 justify-content-center">
        <h3 class="my-4">{{actor.name}}</h3>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" name="deleteButton" class="btn btn-danger btn-lg">Yes</button>
            <a href="/actors" name="cancelButton" class="btn btn-outline-dark btn-lg">No</a>
        </div>
    </form>
  </div>
</div>
{% endblock %}