{% extends 'layouts/main.html' %}
{% block title %}Actors{% endblock %}
{% block content %}
<h2>Actors</h2>
<a href="/actors/add" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Add new Actor</a>
<div class="row box-out">
        {%for actor in actors %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{actor.gender}}</h5>
                        <p class="card-text">{{actor.age}}&nbsp;Yrs</p>
                    </div>
                    <div class="card-body">
                    <h2>{{actor.name}}</h2>
                    </div>
                    <div class="card-footer">
                        <a href="/actors/{{actor.id}}" title="Actor's Info"><i class='fa fa-info'></i></a>
                        &nbsp;
                        <a href="/actors/{{actor.id}}/edit" title="Edit Info"><i class='fa fa-edit text-warning'></i></a>
                        &nbsp;
                        <a href="/actors/{{actor.id}}/delete" title="Delete Actor"><i class='fa fa-trash text-danger'></i></a>                    
                    </div>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}