{% extends 'layouts/main.html' %}
{% block title %}Movie Info{% endblock %}
{% block content %}
<style>
  p{
    font-size:x-large;
  }
</style>
<a href="/movies" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>&nbsp;back to Movies List</a>
<div class="box-out">
    <p><small>title : </small>{{movie.title}}</p>
    <p><small>Category : </small>{{movie.movie_category}}</p>
    <p><small>Rating : </small>{{movie.movie_rating}}</p>
    <p><small>Release Date : </small>{{movie.release_date|datetime('small')}}</p>
    <hr>
  <h3>Actors List : </h3>
  <ul>
    {%for actor in movie_actors%}
    <li>&nbsp;
    {{actor.name}}
    </li>
    {%endfor%}
  </ul>
  <hr>
    <h3 class="form-heading">Add actor to movie</h3>
  <form method="POST" class="form col-md-8 col-lg-6 justify-content-center">
    <div class="form-group">
      <label for="actor">Select actor</label>
      {{ form.actor(class_ = 'form-control', autofocus = true) }}
    </div>
    <input type="submit" value="Add Actor" class="btn btn-primary btn-lg btn-block">
  </form>
</div>

{% endblock %}