{% extends 'layouts/main.html' %}
{% block title %}Movie Info{% endblock %}
{% block content %}
<style>
  p{
    font-size:x-large;
  }
</style>
<a href="/movies" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>&nbsp;back to Movies List</a>
<div class="box-out">
    <p><small>Name : </small>{{movie.name}}</p>
    <p><small>Category : </small>{{movie.movie_category.value}}</p>
    <p><small>Rating : </small>{{movie.movie_rating.value}}</p>
    <p><small>Status : </small>{{movie.movie_status.value}}</p>
    <hr>
  <h3>Actors List : </h3>
  <table>
    <thead>
      <tr>
        <th>Actor's Name</th>
      </tr>
    </thead>
    <tbody>          
      {%for actor in movie.actors%}
        <tr>
          <td>actor.name</td>
        </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{% endblock %}