{% extends 'layouts/main.html' %}
{% block title %}Movie Info{% endblock %}
{% block content %}
<style>
  p{
    font-size:x-large;
  }
</style>
<a href="/movies" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>&nbsp;back to Movies List</a>
<div class="box-out">
    <p><small>title : </small>{{movie.title}}</p>
    <p><small>Category : </small>{{movie.movie_category}}</p>
    <p><small>Rating : </small>{{movie.movie_rating}}</p>
    <p><small>Release Date : </small>{{movie.release_date}}</p>
    <hr>
  <h3>Actors List : </h3>
  <ul>
    {%for actor in actors%}
    <li>&nbsp;
      {% if can_delete_movie_actor %}
    <a href="#" onclick="delete_movie_actor({{movie.id}},{{actor.id}});">&cross;</a> 
    {% endif %}
    {{actor.name}}
    </li>
    {%endfor%}
  </ul>
  {% if can_add_actor_to_movie %}
      <a href="/movies/{{movie.id}}/add-actor" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Add Actor to movie</a>
  {% endif %}
</div>
<script>
  function delete_movie_actor(movie_id,actor_id){
    alert(movie_id);
  }
</script>
{% endblock %}