{% extends 'layouts/main.html' %}
{% block title %}Movies{% endblock %}
{% block content %}
<h2>Movies</h2>
{%if can_add_movie %}
<a href="/movies/add" class="btn btn-success"><i class="fas fa-plus"></i>&nbsp;Add new Movie</a>
{%endif%}
<div class="row box-out">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Release Date</th>
                <th>Category</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {%for movie in movies %}
            <tr>
                <td>{{movie.title}}</td>
                <td>{{movie.release_date|datetime('small')}}</td>
                <td>{{movie.movie_category}}</td>
                <td>{{movie.movie_rating}}</td>
                <td>
                    {%if can_get_movie_info%}
                    <a href="/movies/{{movie.id}}"><i class='fa fa-info'></i></a>
                    &nbsp;
                    {%endif%}
                    {%if can_edit_movie%}
                    <a href="/movies/{{movie.id}}/edit"><i class='fa text-warning fa-edit'></i></a>
                    &nbsp;
                    {%endif%}
                    {%if can_delete_movie%}
                    <a href="/movies/{{movie.id}}/delete"><i class='fa text-danger fa-trash'></i></a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}